nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: var(--comp-color);
  border-bottom: 3px solid var(--comp-tert-color);
}

a.navLinkList {
  display: inline-block;
  color: var(--font-color);
  text-decoration: none;
}
a.navLinkList:hover{
  transform: scale(1.1);
}

img.navLinkList{
  display: inline-block;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 8vh;
  width: 15vw;
}

ul.navLinkList{
  display: inline-block;
  position: absolute;
  top: 1vh;
}

li.navLinkList {
  display: inline-block;
  margin-left: 2vh;
  margin-right: 2vh;
  color: var(--font-color);
}

a.navLinkRight {
  margin-top: 3vh;
  margin-right: 3vw;
  float:right;
}

div.content{
  margin-top: 12vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
